<div id="shopList">
    <div class="filterDiv" id="fDiv">
        <div class="filter">
            <div class="filter-header">
                <div>
                    <span>Filtros</span>
                    <span class="btn_filter"></span>
                </div>
                <div class="f-9">Filtros Seleccionados: <span id="filter_selected">0</span></div>
            </div>
            <div class="filter-content">
                <ul>
                    <li>
                        <input type="text" placeholder="Ciudad" class="cityInput">
                    </li>
                </ul>
                <ul ng-repeat="obj in totalFilters">
                    <li>
                        <span class="title" ng-click="hide = !hide"> <!--  ng-click="toggle = !toggle" -->
                            {{ obj.name }}
                            <i class="fas fa-angle-up" aria-hidden="true"></i>
                        </span>
                        <div ng-show="hide" class="content" ng-class="hide" id="{{ obj.name }}">
                            <!-- ng-class="{'open' : toggle, 'close': !toggle}" -->
                            <div class="content-item" ng-repeat="item in obj.options">
                                <input type="checkbox" ng-click="setChange()"  id="{{ item.id }}">
                                <p class="f-9 ">{{ item.name }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="itemsDiv " id="iList ">
        <article ng-repeat="car in cars " class="card " id="{{ car.vin_number }} ">
            <img src="frontend/{{ car.carUrl }} " style="height: 119px; width: 198px; ">
            <div class="text " id="info ">
                <h3>{{ car.brand_name }} {{ car.model_name }}</h3>
                <button class="likeBtn ">
                    <i class="fas fa-heart " aria-hidden="true "></i>
                </button>
            </div>
        </article>
    </div>
</div>