<header>
    <div class="wrap-header zerogrid">
        <div class="row" id="menuRow">
            <div id="cssmenu" class="menuWrapper" ng-class="{'hide': viewMenu}">
                <ul class="menuItems">
                    <li><a href='#/home' data-item='home'>Inicio</a></li>
                    <li><a href='#/shop' data-item='shop'>Tienda</a></li>
                    <li><a href='#/contact' data-item='contact'>Contactanos</a></li>
                    <li><a ng-click="showMenu()"><i class="fas fa-search"></i></a></li>
                    <li ng-show="authSetting"><a href='#/auth'><i class="fas fa-user-circle"></i></a></li>
                    <li ng-show="usrSetting">
                        <a class="avatar"> 
                            <img src="{{ usr_info.avatar }}" class="avatar-img" alt="Avatar">
                        </a>
                        <ul class="dropdown">
                          <li><a href="#/profile">Cambiar Contraseña</a></li>
                          <li><a href="" ng-click="close_sesion()">Cerrar Sesión</a></li>
                        </ul>
                      </li>
                  </ul>
            </div>
            <a href='#/home' class="logo"><img src="frontend/view/images/logo.png" /></a>
            <div class="search-menu" id="searchMn" ng-class="{'hide': !viewMenu}">
                <div class="custom-select">
                    <select class="catCB" id="catCB">
                        <option value="-">Todas las Categorías</option>
                        <option ng-repeat="cat in s_options.categories" value="{{cat.id}}">{{cat.name}}</option>
                    </select>
                    <span class="custom-arrow"></span>
                </div>
                <div class="custom-select">
                    <select class="brandCB" id="brCB">
                        <option value="-">Todas las Marcas</option>
                        <option ng-repeat="brand in s_options.brands" value="{{brand.id}}">{{brand.name}}</option>
                    </select>
                    <span class="custom-arrow"></span>
                </div>
                <input type="text" placeholder="Buscar..." id="search-input" autocomplete="off">
                <button class="searchBtn" ng-click="search('searchMn')">
                    <i class="fas fa-search-location"></i>
                </button>
                <button class="searchBtn">
                    <i class="fas fa-close" ng-click="showMenu()"></i>
                </button>
            </div>
        </div>
    </div>

</header>
