<div id="loginForm" ng-show="authView">
    <div class="authContainer" id="authContainer" ng-class="{'right-panel-active': swapMenu}">
        <div class="form-container sign-up-container">
           <form autocomplete="off" class="authForm" id="rForm">
                <h1>Crear Cuenta</h1>
                <div class="social-container">
                    <a class="social githubCl" href="#" style="text-decoration: none;">
                        <i class="fab fa-brands fa-github" aria-hidden="true"></i>
                    </a>
                    <a class="social gmailCl" href="#" style="text-decoration: none;">
                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                    </a>
                </div>
                <br>
                <input type="text" class="authInput" ng-model="rg_username_inp" placeholder="Usuario " name="username">
                <input class="authInput" type="email" ng-model="rg_email_inp" placeholder="Email " name="email">
                <input class="authInput" type="password" ng-model="rg_passwd_inp" placeholder="Contraseña " name="password">
                <input class="authInput" type="password" ng-model="rg_repasswd_inp" placeholder="Repetir Contraseña " name="password_confirm">
                <br>
                <div ng-show="rg_error" id="errorDiv">{{ rg_error_msg }}</div>
                <br id="errorBr">
                <input type="button" value="Crear Cuenta" id="registerBtn" ng-click="checkRegister()">
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form class="authForm" id="lForm">
                <h1>Iniciar Sesión</h1>
                <div class="social-container">
                    <a class="social githubCl" style="text-decoration: none; cursor: pointer;" ng-click="s_gh_login()">
                        <i class="fab fa-brands fa-github" aria-hidden="true"></i>
                    </a>
                    <a class="social gmailCl" style="text-decoration: none; cursor: pointer;" ng-click="s_gm_login()">
                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                    </a>
                </div>
                <br>
                <input id="username" ng-model="lg_username_inp" class="authInput" name="username" type="text" placeholder="Usuario ">
                <input id="password" ng-model="lg_passwd_inp"  class="authInput" name="password" type="password" placeholder="Contraseña ">
                <br>
                <div ng-show="lg_error" id="errorDiv">{{ lg_error_msg }}</div>
                <br id="errorBrLogin">
                <input type="button" value="Iniciar Sesión" id="loginBtn" ng-click="checkLogin()">
                <a href="#/recover">¿Contraseña olvidada? Recuperela</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>¡Bienvenido de nuevo!</h1>
                    <p>Para mantenerse conectado con nosotros, Iniciar sesión con su información personal</p>
                    <input class="ghost" type="button" id="signIn" value="Iniciar Sesión" ng-click="swapMenu = !swapMenu">
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hola, ¿Eres Nuevo?</h1>
                    <p>Ingresa tus datos personales y comienza tu viaje con nosotros</p>
                    <input class="ghost" id="signUp" type="button" value="Registrarse" ng-click="swapMenu = !swapMenu">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="verify" ng-show="verifyView">
    <!-- Create an page with an grateful welcome to the new user of the page -->
    <div class="verifyContainer">
        <div class="verifyForm">
            <h1>¡Gracias por registrarte!</h1>
            <br>
            <p>Para completar tu registro, por favor verifica tu correo electrónico.</p>
            <p>Si no puedes ver el correo electrónico, por favor revisa tu bandeja de correo no deseado o spam.</p>
            <p>Si no recibes el correo electrónico, por favor ponte en contacto con nosotros.</p>
            <br>
            <input type="button" value="Iniciar Sesión" id="backBtn" ng-click="goLogin()">
        </div>
    </div>
</div>