
  <figure class="snip0056 blue">
    <figcaption>
      <h2>Cuenta</h2>
      <p>
            Ajustes de la Cuenta
            <div class="form__group field">
                <input ng-model="usr_info.username" type="input" class="form__field" placeholder="Usuario" name="name" id='name' required readonly/>
                <label for="name" class="form__label">Usuario</label>
            </div>
            <div class="form__group field">
                <input ng-model="usr_info.email" type="input" class="form__field" placeholder="Correo Electrónico" name="email" required readonly />
                <label for="email" class="form__label">Correo</label>
            </div>
      </p>
      <p>
            Cambiar Contaseña
            <div class="form__group field">
                <input ng-model="actual_passwd" type="password" class="form__field" placeholder="Contraseña Actual" name="act_passwd" id="act_passwd" required />
                <label for="act_passwd" class="form__label">Contraseña Actual</label>
            </div>
            <div class="form__group field">
                <input ng-model="new_passwd" type="password" class="form__field" placeholder="Nueva Contraseña" name="passwd" id='passwd' required/>
                <label for="passwd" class="form__label">Nueva Contraseña</label>
            </div>
            <div class="form__group field">
                <input ng-model="ck_passwd" type="password" class="form__field" placeholder="Confirmar Contraseña" name="r_passwd" id="r_passwd" required />
                <label for="r_passwd" class="form__label">Confirmar Contraseña</label>
            </div>  
      </p>
      
    </figcaption>
    <img src="{{ usr_info.avatar }}" alt="sample9" />
    <div class="position" style="cursor: pointer;" ng-click="control_passwd()">Aceptar</div>
  </figure>