<div class="wrapper-recover" ng-show="showRcver">
    <h1 class="title">¿Has Olvidad tu Contraseña?</h1>
    <h5 class="subtitle">Introduzca la información para continuar</h5>
    <br>
    <div class="left-inner-addon input-container">
        <i class="fa fa-lock"></i>
        <input type="email"
               class="form-control" 
               placeholder="Correo de la cuenta" ng-model="email"/>
    </div>
    <a style="cursor: pointer;" class="bn3637 bn36" ng-click="rcv_passwd()">Enviar</a>

    
</div>

<div class="wrapper-recover row" ng-show="recover_inp">
    <h1 class="title">¿Has Olvidad tu Contraseña?</h1>
    <h5 class="subtitle">Introduzca la información para cambiar la contraseña</h5>
    <br>
    <div class="recover-container">
        <div>
            <div class="left-inner-addon input-container">
                <i class="fa fa-lock"></i>
                <input type="password"
                       class="form-control" 
                       placeholder="Nueva contraseña" 
                       ng-model="passwd_recover" />
            </div>
            <div class="left-inner-addon input-container">
                <i class="fa fa-lock"></i>
                <input type="password"
                       class="form-control" 
                       placeholder="Repita la contraseña" 
                       ng-model="repasswd_recover" />
            </div>
        </div>
    </div>
    <h3 ng-show="$root.recover_error">{{ $root.recover_error_msg }}</h3>
    <br>
    <a style="cursor: pointer;" class="bn3637 bn36" ng-click="changePsw_recover()">Enviar</a>
</div>

