#footer {
  bottom: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* #footer {
  position: fixed;
  display: block;
  width: 100%;
  background: rgba(160, 197, 245, 0.603);
  text-align: center;
  color: #000000;
  padding: 4px 0 4px 0;
} */