@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.wrapper-recover {
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    border-radius: 10px
}

.recover-container i {
    position: absolute;
}

.recover-container {
    margin-top: 30px;
    width: 30%;
    margin-bottom: 10px;
    justify-content: stretch;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    background-color: #DBDBDB;
    border-right: 1px rgb(0, 0, 0) solid;
    height: 3.5%;
}

.icon-rg {
    padding: 10px;
    background-color: #ffffff;
    min-width: 40px;
    border-left: 1px solid black;
    height: 3.5%;
}

.icon-rg:hover {
    background-color: #DB375D;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 15%;
}

.input-container {
    padding-bottom: 1em;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 35px !important;
}

.left-inner-addon i {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
}


.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 35px !important;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    pointer-events: none;
}

.left-and-right-inner-addon {
    position: relative;
}

.left-and-right-inner-addon input {
    padding-right: 35px !important;
    padding-left: 35px !important;
}

.left-and-right-inner-addon i.left {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
}

.left-and-right-inner-addon i.right {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    pointer-events: none;
}


.right-inner-addon-b {
    position: relative;
}

.right-inner-addon-b input {
    padding-right: 35px !important;
}

.right-inner-addon-b i {
    position: absolute;
    right: 0px;
    padding: 9px 12px;
    pointer-events: none;
}

input {
    width: 100%;
    padding: 1em !important;
    margin: 0em !important;
    box-sizing: border-box;
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.bn36 {
    border-color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}