<div class="container_contact">
    <div class="rrow input-container">
        <div class="col-md-6-5 -5col-sm-12">
            <div class="styled-input" style="float:right;">
                <input id="emailInput" class="input" ng-model="email" type="text" placeholder="Email" required />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input id="nameInput" class="input" ng-model="name" placeholder="Nombre" type="text" required />
            </div>
        </div>
        <div class="col-md-6-5 -5col-sm-12">
            <div class="styled-input" style="float:left;">
                <input id="themeInput" class="input" ng-model="theme" type="text" placeholder="Tema" required />
            </div>
        </div>
        <div class="col-wxs-12">
            <div class="styled-input wide">
                <textarea id="textInput" class="textarea" ng-model="textMessage" placeholder="Mensaje" required></textarea>
            </div>
        </div>
        <!-- <div class="col-wxs-12">
            <div style="color: white;" ng-click="sendEmail()" class="btn-lrg submit-btn">Send Message</div>
        </div> -->

        <button ng-click="sendContactMessage()">Send Message</button>
    </div>

</div>